@charset "UTF-8";
@import "../common/variable", "../common/mixin";

.pc-display {
	display: block;
}

.mo-display {
	display: none;
}

.delighter {
	transform: translateY(100px);
	opacity: 0;
	transition: 0.5s;

	&.started {
		transform: translateY(0);
		opacity: 1;
	}
}

.sub-visual {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 430px;
	padding-top: 30px;
	background-color: #444;
	background-size: cover;
	background-position: 50%;

	.sub-title {
		position: relative;
		z-index: 2;

		.title-type {
			position: relative;
			font-size: 60px;
			font-weight: 700;
			color: #fff;

			&::after {
				content: '';
				display: inline-block;
				width: 12px;
				height: 12px;
				margin-left: 14px;
				background-color: $CBrand2;
				border-radius: 50%;
			}
		}
	}

	.btn-box {
		position: absolute;
		bottom: 43px;
		left: 50%;
		width: 30%;
		text-align: right;

		.btn-type {
			padding: 0 18px;
			background: none;
			border-color: #fff;
			color: #fff;

			.ico-arr {
				background-image: url("data: image/svg+xml, %3Csvg width='29' height='54' viewBox='0 0 29 54' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M28 53 2 27 28 1' stroke='%23fff' stroke-width='6' fill='none' fill-rule='evenodd' /%3E%3C/svg%3E%0A");
			}

			&:hover {
				background: #000;
				border-color: #000;
			}
		}
	}
}

.sub-nav {
	position: relative;
	border-bottom: 1px solid $CLine;

	.inner-box {
		display: flex;
		align-items: center;

		.btn-home {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 76px;
			height: 69px;

			border: {
				style: solid;
				width: 0 1px 0 1px;
				color: $CLine;
			}
		}

		.link-select {
			width: 240px;

			&::after {
				right: 28px;
				width: 0;
				height: 0;
				border-bottom: 4px solid transparent;
				border-top: 4px solid transparent;
				border-left: 6px solid $CTmain;
				border-right: 6px solid transparent;
				transform: rotate(90deg);
				transform-origin: 50% 50%;
				margin-top: -2px;
			}

			.list-select {
				left: -1px;
				width: calc(100% + 1px);
				border: 1px solid $CLine;

				a {
					min-height: 30px;
					height: auto;
				}
			}

			a {
				padding-left: 30px;
				font-size: 17px;
			}

			.current {
				height: 69px;
				border-bottom: 0;
				border-top: 0;
				border-left: 0;
				padding-right: 40px;
			}

			&.active {
				&::after {
					transform: rotate(-90deg) translateX(5px);
				}
			}

			&.focus {
				.current {
					color: $CBrand;
				}

				&::after {
					border-left: 6px solid $CBrand;
				}
			}
		}

		.sns-box {
			position: absolute;
			top: 0;
			right: 0;

			.btn-share {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 70px;
				height: 70px;
			}

			.sns-pop {
				display: none;
				align-items: flex-start;
				position: absolute;
				right: 100%;
				top: 0;
				bottom: 0;
				min-width: 224px;
				padding: 0 0 0 20px;
				border: 1px solid $CLine;

				.list-sns {
					display: flex;
					align-items: center;
					height: 70px;

					li {
						margin-left: 10px;

						&:first-child {
							margin-left: 0;
						}
					}
				}

				.btn-close {
					padding: 10px;
				}
			}

			&.active {
				.ico-share {
					background-image: url("data: image/svg+xml, %3Csvg width='24' height='28' viewBox='0 0 24 28' xmlns='http://www.w3.org/2000/svg' %3E%3Cg stroke='%23093389' stroke-width='1.5' fill='none' fill-rule='evenodd' %3E%3Ccircle cx='20' cy='4' r='3.25' /%3E%3Ccircle cx='20' cy='24' r='3.25' /%3E%3Ccircle cx='4' cy='14' r='3.25' /%3E%3Cpath stroke-linecap='square' d='m8.5 13.5 8-7M8.5 14.5l8 7' /%3E%3C/g%3E%3C/svg%3E%0A");
				}

				.sns-pop {
					display: flex;
				}
			}
		}
	}
}

.content-wrap {
	padding: 100px 0 180px;

	.content-box {
		margin-top: 120px;

		&:first-child {
			margin-top: 0;
		}

		&+.content-box.bg {
			margin-top: 120px;

			&+.content-box.bg {
				margin-top: 0;
			}
		}

		&.bg {
			margin-top: 0;
			padding: 100px 0;
			background-color: $CBg;

			&.bg2 {
				background-color: #e1e4e8;
			}
		}

		&.webzine {
			overflow: hidden;
		}

		&+.full-img {
			margin-top: 120px;
		}
	}

	&.is-last-bg {
		padding-bottom: 0;
	}
}

.info-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 380px;
	padding: 50px 0;
	background-color: #666;
	background-position: 50%;
	background-size: cover;
	text-align: center;

	.info-title {
		font-weight: 500;
		font-size: 32px;
		line-height: 1.55;
		color: #fff;
	}

	.btn-wrap {
		margin-top: 30px;
	}
}

//bg
.full-img {
	position: relative;
	height: 0;
	padding-bottom: 31.8%;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	//background-attachment: fixed;
}

//img
.full-box {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 360px;
	padding: 50px 30px;

	img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		height: 100%;
		object-fit: cover;
	}

	.text {
		font-size: 24px;
		font-weight: 500;
		color: #fff;
		line-height: 1.6;
		text-align: center;
	}
}

.content-img {
	text-align: center;

	img, object {
		width: auto;
		vertical-align: top;
		margin: 0 auto;
	}

	&+[class^='list-detail'] {
		margin-top: 68px;
	}
}

.content-btn {
	margin-bottom: 70px;
	padding-block: 70px;
	text-align: center;

	&.bg {
		background-color: #f4f5f7;
	}
}

.video-box {
	.img-flex {
		width: 70%;
		padding-bottom: 40%;
		margin: 0 auto;
	}
}

.editor-box {
	img {
		width: auto;
		max-width: 720px;
	}
}

@include mobile-ver {

	//scroll
	.scroll-wrap {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100px;
			background: linear-gradient(to right, transparent, #fff);
			opacity: 1;
			transition: .3s;
		}

		&.shadow-none {
			&::after {
				opacity: 0;
			}
		}

		/* .table-wrap & {
			&::after {
				background: linear-gradient(to right, transparent, #fff);
			}
		}

		.global-wrap & {
			&::after {
				background: linear-gradient(to right, transparent, #000);
			}
		} */
	}

	.editor-box {
		img {
			width: 100%;
			max-width: 100%;
		}
	}
}

@include inner-box {
	.content-img {
		img {
			max-width: 100%;
		}

		object {
			max-width: 100%;
		}
	}

	.video-box {
		.img-flex {
			width: 100%;
			padding-bottom: 58%;
		}
	}
}

@include tablet {
	.sub-visual {
		.btn-box {
			width: auto;
			transform: translateX(-50%);
		}
	}

	.info-wrap {
		.btn-wrap {
			display: flex;
			flex-direction: column;

			.btn-type {
				margin-top: 16px;
				margin-left: 0;
			}
		}
	}
}

@include mobile {
	.pc-display {
		display: none;
	}

	.mo-display {
		display: block;
	}

	.sub-visual {
		height: 250px;
		padding-top: 60px;

		.sub-title {
			.title-type {
				font-size: 33px;

				&::after {
					width: 8px;
					height: 8px;
					margin-left: 7px;
				}
			}
		}
	}

	.content-wrap {
		padding: 55px 0 100px;

		.content-box {
			margin-top: 70px;

			&+.content-box.bg {
				margin-top: 70px;

				&+.content-box.bg {
					margin-top: 0;
				}
			}

			&.bg {
				padding: 70px 0;
			}

			&+.full-img {
				margin-top: 60px;
			}

			.inner-box {
				.content-img {
					margin: {
						left: -20px;
						right: -20px;
					}

					img {
						width: 100%;
					}
				}

				.tab-type {
					margin: {
						top: -20px;
						left: -20px;
						right: -20px;
					}
				}
			}
		}
	}

	.info-wrap {
		min-height: 219px;
		height: auto;
		padding: 50px 20px;

		.info-title {
			font-size: 22px;

			span {
				display: block;
			}
		}

		.btn-wrap {
			margin-top: 20px;

			.btn-type {
				justify-content: space-between;
				width: 70%;
				margin-top: 7px;
				margin-left: 0;

				&:only-child {
					width: 100%;
				}
			}
		}
	}

	//img
	.full-box {
		min-height: auto;

		.text {
			font-size: 18px;
		}
	}

	.video-box {
		position: relative;

		margin: {
			left: -20px;
			right: -20px;
		}

		.img-flex {
			width: 100%;
			padding-bottom: 60%;
		}

		.bg & {
			margin: {
				top: -70px;
				bottom: -70px;
			}
		}
	}

	.content-btn {
		margin-bottom: 30px;
		padding-block: 30px;
	}
}

@include mobile-ver {
	.sub-nav {
		display: none;
	}
}