@charset "UTF-8";

$CBrand: #004666;
$CBrand2: #335F7D;
$CBrand3: #67879D;
$CBrand4: #8dbfcf;
$CBrand5: #33607e;

$CBlack: #000000;

$CGray: #4C5356;
$CGray2: #7F8789;
$CGray3: #A8ADB3;
$CGray4: #D3D6D9;
$CGray5: #E5E6E8;
$CGray6: #eff0f1;
$CGray7: #f0f1f2;


// Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-tablet: 960px;
$breakpoint-desktop: 1400px;


//font
$fontK: "NotoSansKR", sans-serif;
$fontE: "VWAG_TheSans", "NotoSansKR", sans-serif;
$fontA: "VWAG_TheAntiqua", 'NotoSerifKR', sans-serif;