@charset "UTF-8";

@import 'common/variable',
'common/mixin';

body {
  font-family: $fontK;
  letter-spacing: -0.5px;
  //font-weight: 400;
}

button {
  font-family: $fontK;
  letter-spacing: 0;
}

[class^=btn-type] {
  font-family: $fontA;
}

.list-text:before {
  top: 7px;
}

.list-type li:before {
  top: 7px;
}

.btn-more [class^=ico-] {
  margin-top:-1px;
}