@charset "UTF-8";
@import "../common/variable", "../common/mixin";

.pop-layer {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;

	&.active {
		display: flex;
	}

	.dim {
		display: block;
	}

	.pop-wrap {
		position: relative;
		width: 500px;

		.pop-header {
			.pop-close {
				top: 0;
				right: 0;
				background-image: url("data: image/svg+xml, %3Csvg width='34' height='35' viewBox='0 0 34 35' xmlns='http://www.w3.org/2000/svg' %3E%3Cg stroke='%23000' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='square' %3E%3Cpath d='m9.222 9.722 15.556 15.556M24.778 9.722 9.222 25.278' /%3E%3C/g%3E%3C/svg%3E%0A");
			}

			&+.pop-content {
				padding: 45px 20px;
			}
		}

		.pop-content {
			position: relative;
			background-color: #fff;
		}
	}

	.pop-close {
		display: block;
		position: absolute;
		top: -55px;
		right: -10px;
		z-index: 5;
		width: 55px;
		height: 55px;
		background-image: url("data: image/svg+xml, %3Csvg width='34' height='35' viewBox='0 0 34 35' xmlns='http://www.w3.org/2000/svg' %3E%3Cg stroke='%23ffffff' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='square' %3E%3Cpath d='m9.222 9.722 15.556 15.556M24.778 9.722 9.222 25.278' /%3E%3C/g%3E%3C/svg%3E%0A");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50%;
	}

	.pop-footer {
		margin-top: 20px;

		.btn-today-close {
			display: flex;
			align-items: center;
			padding: 10px 0;
			font-size: 16px;
			color: #fff;

			.ico-checkbox {
				margin-right: 12px;
			}
		}
	}

	.swiper-pagination {
		width: 50%;
		left: auto;
		right: 0;
		bottom: -50px;
		text-align: right;

		.swiper-pagination-bullet {
			background-color: #fff;
			opacity: .5;

			&.swiper-pagination-bullet-active {
				background-color: #fff;
				opacity: 1;
			}
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		width: 23px;
		height: 46px;
		margin-top: -23px;
		background-image: url("data: image/svg+xml, %3Csvg width='29' height='54' viewBox='0 0 29 54' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M28 53 2 27 28 1' stroke='%23ffffff' stroke-width='3' fill='none' fill-rule='evenodd' /%3E%3C/svg%3E%0A");
	}

	.swiper-button-next {
		right: -40px;
	}

	.swiper-button-prev {
		left: -40px;
	}

	&.pop-main {
		.pop-wrap {
			width: 458px;
		}
	}

	&.pop-full {
		background-color: #fff;

		.pop-close {
			position: absolute;
			top: 15px;
			right: 10px;
		}

		.pop-wrap {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;

			.pop-header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				position: fixed;
				top: 0;
				left: 0;
				z-index: 10;
				width: 100%;
				height: 70px;
				border-bottom: 1px solid $CLine;
			}

			.pop-content {
				flex-grow: 1;
			}
		}

		.img-box {
			display: flex;
			align-items: center;
			height: 100%;

			img {
				object-fit: cover;
				object-position: center;
			}
		}
	}

	&.pop-sns {
		.pop-wrap {
			width: 313px;

			.pop-header {
				.pop-close {
					top: 0;
					right: 0;
					width: 40px;
					height: 40px;
					padding: 10px;
				}
			}
		}

		.list-sns {
			display: flex;
			justify-content: center;

			li {
				margin-left: 30px;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}

	&.pop-ie {
		.pop-wrap {
			width: 960px;
		}
	}
}

@include mobile {
	.pop-layer {
		.pop-wrap {
			width: 90%;

			.pop-header {
				.pop-close {
					top: 14px;
					right: 6px;
					background-image: url("data: image/svg+xml, %3Csvg width='34' height='35' viewBox='0 0 34 35' xmlns='http://www.w3.org/2000/svg' %3E%3Cg stroke='%23000' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='square' %3E%3Cpath d='m9.222 9.722 15.556 15.556M24.778 9.722 9.222 25.278' /%3E%3C/g%3E%3C/svg%3E%0A");
				}

				&+.pop-content {
					padding: 45px 20px;
				}
			}
		}

		.pop-close {
			top: -35px;
			width: 35px;
			height: 35px;
		}

		.pop-footer {
			margin-top: 10px;

			.btn-today-close {
				font-size: 15px;
			}
		}

		.swiper-pagination {
			bottom: -40px;
		}

		.swiper-button-next,
		.swiper-button-prev {
			width: 12px;
			height: 24px;
			margin-top: -12px;
		}

		.swiper-button-next {
			right: -20px;
		}

		.swiper-button-prev {
			left: -20px;
		}

		&.pop-main {
			.pop-wrap {
				width: 80%;
			}
		}
	}
}