@charset "UTF-8";
//Color
$CBrand: #093389;
$CBrand2: #E30011;
$CRed: #f73636;

$CLine: #d7d7d7;
$CLine2: #ccc;

$CTmain: #303030;
$CTsub: #666;
$CTsub2: #999;
$CTsub3: #aaa;

$CBg: #f4f5f7;
$CBg2: #eceef0;

//Font
$font: Montserrat, SpoqaHanSansNeo, sans-serif;
$fontK: SpoqaHanSansNeo, sans-serif;


//innerBox
$inner: 1440px;