<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.taihan.front.dao.SearchMapper">


    <sql id="whereSearch">
        AND A.DISPLAY_YN = 'Y'
        AND A.DEL_YN = 'N'
        AND A.LANG = #{lang}
    </sql>

    <select id="selectRcmdSchList" parameterType="RcmdSearch" resultType="RcmdSearch">
        /* [Search_mapper][selectRcmdSchList] 추천 검색어 리스트 조회 */
        SELECT
        IDX
        , TITLE
        , LANG
        , BTN_LINK
        , BTN_LINK_TARGET
        , DISPLAY_YN
        , ORD
        , DEL_YN
        , REG_IDX
        , REG_DT
        , UPD_IDX
        , UPD_DT
        FROM TB_RCMD_SEARCH A
        WHERE 1=1
            AND A.DEL_YN = 'N'
            AND A.DISPLAY_YN = 'Y'
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(lang)">
            AND A.LANG = #{lang}
        </if>
        ORDER BY A.ORD ASC, A.REG_DT DESC
    </select>

    <select id="selectSearchTagList" parameterType="SearchInfo" resultType="SearchInfo">
        /* [Search_mapper][selectSearchList] 태그 검색 결과 리스트 조회  */

        SELECT
          BUSINESS.*
            FROM
            (
                /* 솔루션 */
                SELECT
                    A.IDX AS IDX
                    , 'BUSINESS' AS TOP_TITLE1
                    , IF('ko' = #{lang},'솔루션','soltution') AS TOP_TITLE2
                    , A.TITLE
                    , <![CDATA[ REGEXP_REPLACE(REGEXP_REPLACE(REGEXP_REPLACE(A.CONTENT, '&lt;','<'), '&gt;', '>'), '<[^>]+>','') ]]> AS CONTENT
                    , A.SYS_THUM_IMG_FILE AS SYS_IMG_FILE
                    , '' AS SYS_FILE
                    , A.SYS_THUM_IMG_FILE AS ORG_IMG_FILE
                    , '' AS ORG_FILE
                    ,(
                        SELECT
                        GROUP_CONCAT(C.TITLE,'_', C.IDX)
                        FROM TB_TAG C
                        INNER JOIN TB_TAG_MAPPING B ON C.IDX = B.TAG_IDX
                        WHERE A.IDX = B.MAPPING_IDX
                        AND B.MAPPING_TYPE = 'SOLUTION'
                    ) TAG_INFO_LIST
                    , A.REG_DT AS REG_DT
                    , IF('ko' = #{lang}, CONCAT('/business/solution?idx=',A.IDX) ,CONCAT('/en/business/solution?idx=',A.IDX)) AS CLICK_URL
                FROM TB_SOLUTION A
                        INNER JOIN TB_TAG_MAPPING B
                                ON A.IDX = B.MAPPING_IDX AND B.MAPPING_TYPE = 'SOLUTION'
                        INNER JOIN TB_TAG C
                                ON B.TAG_IDX = C.IDX
                WHERE 1 = 1
                    <include refid="whereSearch" />
                    AND C.IDX  = #{schTagIdx}
                    
                UNION ALL
                
                /* 성공사례 */
				SELECT
				    A.IDX AS IDX
				    , 'BUSINESS' AS TOP_TITLE1
				    , IF('ko' = #{lang},'성공사례','Success Story') AS TOP_TITLE2
				    , A.TITLE
				    , (SELECT CONTENT FROM TB_SUCCESS_STORY_CONT C WHERE CONTENT IS NOT NULL AND C.STORY_IDX = A.IDX LIMIT 1) AS CONTENT
				    , A.SYS_THUM_IMG_FILE AS SYS_IMG_FILE
				    , '' AS SYS_FILE
				    , A.ORG_THUM_IMG_FILE AS ORG_IMG_FILE
				    , '' AS ORG_FILE
				    ,(
				        SELECT
				        GROUP_CONCAT(C.TITLE,'_', C.IDX)
				        FROM TB_TAG C
				        INNER JOIN TB_TAG_MAPPING B ON C.IDX = B.TAG_IDX
				        WHERE A.IDX = B.MAPPING_IDX
				        AND B.MAPPING_TYPE = 'SUCCESS_STORY'
				        ) TAG_INFO_LIST
				    , A.REG_DT AS REG_DT
				    , IF('ko' = #{lang}, CONCAT('/business/successStoryDetail?idx=',A.IDX) ,CONCAT('/en/business/successStoryDetail?idx=',A.IDX)) AS CLICK_URL
				FROM TB_SUCCESS_STORY A
					INNER JOIN TB_TAG_MAPPING B
                                ON A.IDX = B.MAPPING_IDX AND B.MAPPING_TYPE = 'SUCCESS_STORY'
                        INNER JOIN TB_TAG C
                                ON B.TAG_IDX = C.IDX
                WHERE 1 = 1
                    <include refid="whereSearch" />
                    AND C.IDX  = #{schTagIdx}
				
				UNION ALL
				
				/* 제품 */
				SELECT
				    A.IDX AS IDX
				    , 'BUSINESS' AS TOP_TITLE1
				    , IF('ko' = #{lang},'제품','product') AS TOP_TITLE2
				    , A.TITLE
				    , A.INTRO AS CONTENT
				    , concat('product/',SUBSTRING_INDEX(A.IMG_PATHS, '@', 1))  AS SYS_IMG_FILE
				    , '' AS SYS_FILE
				    , SUBSTRING_INDEX(A.IMG_PATHS, '@', 1) AS ORG_IMG_FILE
				    , '' AS ORG_FILE
				    ,(
				        SELECT
				        GROUP_CONCAT(C.TITLE,'_', C.IDX)
				        FROM TB_TAG C
				        INNER JOIN TB_TAG_MAPPING B ON C.IDX = B.TAG_IDX
				        WHERE A.IDX = B.MAPPING_IDX
				        AND B.MAPPING_TYPE = 'PRODUCT'
				        ) TAG_INFO_LIST
				    , A.REG_DT AS REG_DT
				    , IF('ko' = #{lang}, CONCAT('/business/product/productDetail?idx=',A.IDX) ,CONCAT('/en/business/product/productDetail?idx=',A.IDX)) AS CLICK_URL
				FROM TB_PRODUCT A
					INNER JOIN TB_TAG_MAPPING B
                                ON A.IDX = B.MAPPING_IDX AND B.MAPPING_TYPE = 'PRODUCT'
                        INNER JOIN TB_TAG C
                                ON B.TAG_IDX = C.IDX
                WHERE 1 = 1
                    <include refid="whereSearch" />
                    AND C.IDX  = #{schTagIdx}
        ) `BUSINESS`
        WHERE 1 = 1

        UNION ALL

        /* CUSTOMER */
        SELECT CUSTOMER.*
            FROM
            (
            /* 카탈로그 · 지명원 */
            SELECT
                A.IDX AS IDX
                , 'CUSTOMER' AS TOP_TITLE1
                , IF('ko' = #{lang},'카탈로그 · 지명원','Catalog') AS TOP_TITLE2
                , IF('ko' = #{lang},'인증서','Certification') AS TITLE
                , A.TITLE AS CONTENT
                , A.SYS_IMG_FILE AS SYS_IMG_FILE
                , A.SYS_PDF_FILE AS SYS_FILE
                , A.ORG_IMG_FILE AS ORG_IMG_FILE
                , A.ORG_PDF_FILE AS ORG_FILE
                ,(
                    SELECT
                    GROUP_CONCAT(C.TITLE,'_', C.IDX)
                    FROM TB_TAG C
                    INNER JOIN TB_TAG_MAPPING B ON C.IDX = B.TAG_IDX
                    WHERE A.IDX = B.MAPPING_IDX AND B.MAPPING_TYPE = 'CATALOG'
                ) TAG_INFO_LIST
                , A.REG_DT AS REG_DT
                , IF('ko' = #{lang}, '/customer/catalogue','/en/customer/catalogue') AS CLICK_URL
            FROM TB_PROD_CATALOG A
                    INNER JOIN TB_TAG_MAPPING B
                            ON A.IDX = B.MAPPING_IDX AND B.MAPPING_TYPE = 'CATALOG'
                    INNER JOIN TB_TAG C
                            ON B.TAG_IDX = C.IDX
            WHERE 1 = 1
                <include refid="whereSearch" />
                AND C.IDX  = #{schTagIdx}
            ) `CUSTOMER`
        WHERE 1 = 1

        UNION ALL

        /* News */
        SELECT
            NEWS.*
        FROM (

            /* 대한 뉴스 */
            SELECT
                A.IDX AS IDX
                , 'NEWS' AS TOP_TITLE1
                , 'PR' AS TOP_TITLE2
                , A.TITLE AS TITLE
                , <![CDATA[ REGEXP_REPLACE(REGEXP_REPLACE(REGEXP_REPLACE(A.CONTENT, '&lt;','<'), '&gt;', '>'), '<[^>]+>','') ]]> AS CONTENT
                , A.SYS_THUM_IMG_FILE  AS SYS_IMG_FILE
                , '' AS SYS_FILE
                , A.ORG_THUM_IMG_FILE AS ORG_IMG_FILE
                , '' AS ORG_FILE
                ,(
                    SELECT
                    GROUP_CONCAT(C.TITLE,'_', C.IDX)
                    FROM TB_TAG C
                    INNER JOIN TB_TAG_MAPPING B ON C.IDX = B.TAG_IDX
                    WHERE A.IDX = B.MAPPING_IDX
                    AND B.MAPPING_TYPE = 'TAIHAN_NEWS'
                ) TAG_INFO_LIST
                , A.REG_DT AS REG_DT
                , IF('ko' = #{lang}, CONCAT('/news/pr/taihanNewsDetail?idx=',A.IDX) ,CONCAT('/en/news/pr/taihanNewsDetail?idx=',A.IDX)) AS CLICK_URL
            FROM TB_TAIHAN_NEWS A
                    INNER JOIN TB_TAG_MAPPING B
                            ON A.IDX = B.MAPPING_IDX AND B.MAPPING_TYPE = 'TAIHAN_NEWS'
                    INNER JOIN TB_TAG C
                            ON B.TAG_IDX = C.IDX
            WHERE 1 = 1
                <include refid="whereSearch" />
                AND C.IDX  = #{schTagIdx}

        UNION ALL

            /* 보도자료 */
            SELECT
                A.IDX AS IDX
                , 'NEWS' AS TOP_TITLE1
                , 'PR' AS TOP_TITLE2
                , A.TITLE AS TITLE
                , <![CDATA[ REGEXP_REPLACE(REGEXP_REPLACE(REGEXP_REPLACE(A.CONTENT, '&lt;','<'), '&gt;', '>'), '<[^>]+>','') ]]> AS CONTENT
                , A.SYS_THUM_IMG_FILE  AS SYS_IMG_FILE
                , '' AS SYS_FILE
                , A.ORG_THUM_IMG_FILE AS ORG_IMG_FILE
                , '' AS ORG_FILE
                ,(
                    SELECT
                    GROUP_CONCAT(C.TITLE,'_', C.IDX)
                    FROM TB_TAG C
                    INNER JOIN TB_TAG_MAPPING B ON C.IDX = B.TAG_IDX
                    WHERE A.IDX = B.MAPPING_IDX
                    AND B.MAPPING_TYPE = 'NEWS_RELEASE'
                ) AS TAG_INFO_LIST
                , A.REG_DT AS REG_DT
                , IF('ko' = #{lang}, CONCAT('/news/pr/releaseDetail?idx=',A.IDX) ,CONCAT('/en/news/pr/releaseDetail?idx=',A.IDX)) AS CLICK_URL
            FROM TB_NEWS_RELEASE A
                    INNER JOIN TB_TAG_MAPPING B
                            ON A.IDX = B.MAPPING_IDX AND B.MAPPING_TYPE = 'NEWS_RELEASE'
                    INNER JOIN TB_TAG C
                            ON B.TAG_IDX = C.IDX
            WHERE 1 = 1
                <include refid="whereSearch" />
                AND C.IDX  = #{schTagIdx}
        ) `NEWS`


        UNION ALL

        /* 하드 코딩 페이지 데이터 테이블 */
        SELECT
            OTHERS.*
            FROM (
                SELECT
                A.IDX AS IDX
                , IFNULL(TOP_TITLE1,'OTHERS') AS TOP_TITLE1
                , TOP_TITLE2 AS TOP_TITLE2
                , A.SCH_TITLE AS TITLE
                , A.SCH_CONTENT AS CONTENT
                , NULL AS SYS_IMG_FILE
                , NULL AS SYS_FILE
                , NULL AS ORG_IMG_FILE
                , NULL AS ORG_FILE
                , NULL AS TAG_INFO_LIST
                , A.REG_DM  AS REG_DT
                , A.URI AS CLICK_URL
                FROM TB_SEO A
                    INNER JOIN TB_TAG_MAPPING B
                            ON A.IDX = B.MAPPING_IDX AND B.MAPPING_TYPE = 'SEO'  /* TODO */
                    INNER JOIN TB_TAG C
                             ON B.TAG_IDX = C.IDX
                WHERE 1 = 1
                    AND A.SCH_YN = 'Y'
                    AND A.DSP_YN = 'Y'
                    AND A.DEL_YN = 'N'
                    AND A.LANG = #{lang}
                    AND C.IDX  = #{schTagIdx}
            ) `OTHERS`
    WHERE 1 = 1
    </select>
    
    
    
    
    <select id="selectSearchList" parameterType="SearchInfo" resultType="SearchInfo">
        /* [Search_mapper][selectSearchList] 검색 결과 리스트 조회  */
        SELECT
    		BUSINESS.*
        FROM
            (
                /* 솔루션 */
                SELECT
                    A.IDX AS IDX
                    , 'BUSINESS' AS TOP_TITLE1
                    , IF('ko' = #{lang},'솔루션','Soltutions') AS TOP_TITLE2
                    , A.TITLE
                    , <![CDATA[ REGEXP_REPLACE(REGEXP_REPLACE(REGEXP_REPLACE(A.CONTENT, '&lt;','<'), '&gt;', '>'), '<[^>]+>','') ]]> AS CONTENT
                    , A.SYS_THUM_IMG_FILE AS SYS_IMG_FILE
                    , '' AS SYS_FILE
                    , A.SYS_THUM_IMG_FILE AS ORG_IMG_FILE
                    , '' AS ORG_FILE
                    ,(
                        SELECT
                        GROUP_CONCAT(C.TITLE,'_', C.IDX)
                        FROM TB_TAG C
                        INNER JOIN TB_TAG_MAPPING B ON C.IDX = B.TAG_IDX
                        WHERE A.IDX = B.MAPPING_IDX
                        AND B.MAPPING_TYPE = 'SOLUTION'
                        ) TAG_INFO_LIST
                    , A.REG_DT AS REG_DT
                    , IF('ko' = #{lang}, CONCAT('/business/solution?idx=',A.IDX) ,CONCAT('/en/business/solution?idx=',A.IDX)) AS CLICK_URL
                FROM TB_SOLUTION A
                WHERE 1 = 1
                    <include refid="whereSearch" />
                    <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(schKey)">
                    <choose>
						 <when test="schKey eq '솔루션'">     
						 AND 1=1
						 </when>
						 <when test="schKey eq 'Solutions'">     
						 AND 1=1
						 </when>
						<otherwise>
                    	AND ( REPLACE(A.TITLE,' ','') LIKE CONCAT('%',#{schKey},'%') OR  REPLACE(A.CONTENT,' ','') LIKE CONCAT('%',#{schKey},'%') )
						</otherwise>  
					</choose>
                    </if>
                   
                UNION ALL
                
                /* 성공사례 */
				SELECT
				    A.IDX AS IDX
				    , 'BUSINESS' AS TOP_TITLE1
				    , IF('ko' = #{lang},'성공사례','Success Story') AS TOP_TITLE2
				    , A.TITLE
				    , (SELECT CONTENT FROM TB_SUCCESS_STORY_CONT C WHERE CONTENT IS NOT NULL AND C.STORY_IDX = A.IDX LIMIT 1) AS CONTENT
				    , A.SYS_THUM_IMG_FILE AS SYS_IMG_FILE
				    , '' AS SYS_FILE
				    , A.ORG_THUM_IMG_FILE AS ORG_IMG_FILE
				    , '' AS ORG_FILE
				    ,(
				        SELECT
				        GROUP_CONCAT(C.TITLE,'_', C.IDX)
				        FROM TB_TAG C
				        INNER JOIN TB_TAG_MAPPING B ON C.IDX = B.TAG_IDX
				        WHERE A.IDX = B.MAPPING_IDX
				        AND B.MAPPING_TYPE = 'SUCCESS_STORY'
				        ) TAG_INFO_LIST
				    , A.REG_DT AS REG_DT
				    , IF('ko' = #{lang}, CONCAT('/business/successStoryDetail?idx=',A.IDX) ,CONCAT('/en/business/successStoryDetail?idx=',A.IDX)) AS CLICK_URL
				FROM (
					SELECT * FROM 
					TB_SUCCESS_STORY AA
					WHERE 1=1
					<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(schKey)">
					<choose>
						 <when test="schKey eq '성공사례'">     
						 AND 1=1
						 </when>
						 <when test="schKey eq 'SuccessStory'">     
						 AND 1=1
						 </when>
						<otherwise>
						AND ( REPLACE(AA.TITLE,' ','') LIKE CONCAT('%',#{schKey},'%') 
						OR REPLACE(AA.CATEGORY,' ','') LIKE CONCAT('%',#{schKey},'%') 
						OR REPLACE(AA.CONTRY,' ','') LIKE CONCAT('%',#{schKey},'%')
						)
						OR AA.IDX IN (
							SELECT STORY_IDX FROM TB_SUCCESS_STORY_CONT B
							WHERE REPLACE(B.CONT_TITLE,' ','') LIKE CONCAT('%',#{schKey},'%') 
							OR REPLACE(B.CONTENT,' ','') LIKE CONCAT('%',#{schKey},'%') 
						)
						OR AA.IDX IN (
							SELECT STORY_IDX FROM TB_SUCCESS_STORY_CONT_SUB B
							WHERE REPLACE(B.MUNGU1,' ','') LIKE CONCAT('%',#{schKey},'%') 
							OR REPLACE(B.MUNGU2,' ','') LIKE CONCAT('%',#{schKey},'%') 
							OR REPLACE(B.MUNGU3,' ','') LIKE CONCAT('%',#{schKey},'%') 
						)
						</otherwise>  
					</choose>
					</if>
				) A
				WHERE 1 = 1
					<include refid="whereSearch" />
				UNION ALL
				/* 제품 */
				SELECT
				    A.IDX AS IDX
				    , 'BUSINESS' AS TOP_TITLE1
				    , IF('ko' = #{lang},'제품','Products') AS TOP_TITLE2
				    , A.TITLE
				    , A.INTRO AS CONTENT
				    , concat('product/',SUBSTRING_INDEX(A.IMG_PATHS, '@', 1))  AS SYS_IMG_FILE
				    , '' AS SYS_FILE
				    , SUBSTRING_INDEX(A.IMG_PATHS, '@', 1) AS ORG_IMG_FILE
				    , '' AS ORG_FILE
				    ,(
				        SELECT
				        GROUP_CONCAT(C.TITLE,'_', C.IDX)
				        FROM TB_TAG C
				        INNER JOIN TB_TAG_MAPPING B ON C.IDX = B.TAG_IDX
				        WHERE A.IDX = B.MAPPING_IDX
				        AND B.MAPPING_TYPE = 'PRODUCT'
				        ) TAG_INFO_LIST
				    , A.REG_DT AS REG_DT
				    , IF('ko' = #{lang}, CONCAT('/business/product/productDetail?idx=',A.IDX) ,CONCAT('/en/business/product/productDetail?idx=',A.IDX)) AS CLICK_URL
				FROM (
					SELECT * FROM 
					TB_PRODUCT AA
					WHERE 1=1
					<if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(schKey)">
					<choose>
						 <when test="schKey eq '제품'">     
						 AND 1=1
						 </when>
						 <when test="schKey eq 'Products'">     
						 AND 1=1
						 </when>
						<otherwise>
						AND ( REPLACE(AA.TITLE,' ','') LIKE CONCAT('%',#{schKey},'%') 
						OR REPLACE(AA.INTRO,' ','') LIKE CONCAT('%',#{schKey},'%') 
						OR REPLACE(AA.TOP_GUBUN,' ','') LIKE CONCAT('%',#{schKey},'%')
						)
						OR AA.IDX IN (
							SELECT PROD_IDX FROM TB_PRODUCT_TAB B
							WHERE REPLACE(B.TAB_TITLE,' ','') LIKE CONCAT('%',#{schKey},'%') 
							OR REPLACE(B.TAB_CONTENT,' ','') LIKE CONCAT('%',#{schKey},'%') 
						)
						OR AA.IDX IN (
							SELECT PROD_IDX FROM TB_PRODUCT_TABINFO B
							WHERE REPLACE(B.INFO_TITLE,' ','') LIKE CONCAT('%',#{schKey},'%') 
							OR REPLACE(B.INFO_CONTENT,' ','') LIKE CONCAT('%',#{schKey},'%') 
						)
						</otherwise>  
					</choose>
					</if>
				) A
				WHERE 1 = 1
					<include refid="whereSearch" />
                ) `BUSINESS`
        WHERE 1 = 1
        
        UNION ALL
        
        SELECT
            CUSTOMER.*
        FROM
            (
                /* 인증자료 */
                SELECT
                    A.IDX AS IDX
                    , 'CUSTOMER' AS TOP_TITLE1
                    , IF('ko' = #{lang},'자료실','Archive') AS TOP_TITLE2
                    , IF('ko' = #{lang},'인증서','Certification') AS TITLE
                    , A.TITLE AS CONTENT
                    , A.SYS_THUM_IMG_FILE AS SYS_IMG_FILE
                    , A.SYS_FILE AS SYS_FILE
                    , A.ORG_THUM_IMG_FILE AS ORG_IMG_FILE
                    , A.ORG_FILE AS ORG_FILE
                    , NULL AS TAG_INFO_LIST
                    , A.REG_DT AS REG_DT
                    , IF('ko' = #{lang}, '/customer/certData','/en/customer/certData') AS CLICK_URL
                FROM TB_QC A
                WHERE 1 = 1
                    <include refid="whereSearch" />
                    <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(schKey)">
                    <choose>
						 <when test="schKey eq '인증서' or schKey eq 'Certification' or schKey eq 'certification'">     
						 AND 1=1
						 </when>
						<otherwise>
                        AND REPLACE(A.TITLE,' ','') LIKE CONCAT('%',#{schKey},'%')
						</otherwise>  
					</choose>
                    </if>

                UNION ALL
                
                 /* 납세증명서 */
                (SELECT
                   A.IDX AS IDX
                    , 'CUSTOMER' AS TOP_TITLE1
                    , IF('ko' = #{lang},'자료실','Archive') AS TOP_TITLE2
                    , IF('ko' = #{lang},'인증서','Certification') AS TITLE
                    , A.TITLE AS CONTENT
                    , A.SYS_IMG_FILE AS SYS_IMG_FILE
                    , A.SYS_FILE AS SYS_FILE
                    , A.ORG_IMG_FILE AS ORG_IMG_FILE
                    , A.ORG_FILE AS ORG_FILE
                    , NULL AS TAG_INFO_LIST
                    , A.REG_DT AS REG_DT
                    , IF('ko' = #{lang}, '/customer/certData','/en/customer/certData') AS CLICK_URL
                FROM 
                	TB_REPORT A 
                WHERE 1 = 1
                	AND A.REPORT_TYPE ='TAX'
                    <include refid="whereSearch" />
                    <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(schKey)">
                    <choose>
						 <when test="schKey eq '인증서'">     
						 AND 1=1
						 </when>
						<otherwise>
                        AND REPLACE(A.TITLE,' ','') LIKE CONCAT('%',#{schKey},'%')
						</otherwise>  
					</choose>
                    </if>
                ORDER BY A.IDX DESC LIMIT 1
				)
                UNION ALL
                /* 카탈로그 */
                SELECT
                    A.IDX AS IDX
                    , 'CUSTOMER' AS TOP_TITLE1
                    , IF('ko' = #{lang},'자료실','Archive') AS TOP_TITLE2
                    , IF('ko' = #{lang},'카탈로그 · 지명원','Catalog') AS TITLE
                    , A.TITLE AS CONTENT
                    , A.SYS_IMG_FILE AS SYS_IMG_FILE
                    , A.SYS_PDF_FILE AS SYS_FILE
                    , A.ORG_IMG_FILE AS ORG_IMG_FILE
                    , A.ORG_PDF_FILE AS ORG_FILE
                    ,(
                        SELECT
                        GROUP_CONCAT(C.TITLE,'_', C.IDX)
                        FROM TB_TAG C
                        INNER JOIN TB_TAG_MAPPING B ON C.IDX = B.TAG_IDX
                        WHERE A.IDX = B.MAPPING_IDX AND B.MAPPING_TYPE = 'CATALOG'
                    ) TAG_INFO_LIST
                    , A.REG_DT AS REG_DT
                    , IF('ko' = #{lang}, '/customer/catalogue','/en/customer/catalogue') AS CLICK_URL
                FROM TB_PROD_CATALOG A
                WHERE 1 = 1
                    <include refid="whereSearch" />
                    <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(schKey)">
                     <choose>
						 <when test="schKey eq '카탈로그'">     
						 AND 1=1
						 </when>
						 <when test="schKey eq 'Catalog' or schKey eq 'catalog'">     
						 AND 1=1
						 </when>
						<otherwise>
                        AND REPLACE(A.TITLE,' ','') LIKE CONCAT('%',#{schKey},'%')
						</otherwise>  
					</choose>
                    </if>

                UNION ALL

                /* 자료실 - IR자료,ESG자료  */
                SELECT
                    A.IDX AS IDX
                    , 'CUSTOMER' AS TOP_TITLE1
                    , IF('ko' = #{lang},'자료실','Archive') AS TOP_TITLE2
                    , (CASE
                            WHEN REPORT_TYPE = 'AUDIT' THEN 'IR'
                            WHEN REPORT_TYPE = 'BUSINESS' THEN 'IR'
                            WHEN REPORT_TYPE = 'ANNUAL' THEN 'IR'
                            WHEN REPORT_TYPE = 'ESG' THEN 'ESG'
                            WHEN REPORT_TYPE = 'DISRULE' THEN 'ESG'
                            WHEN REPORT_TYPE = 'ETC' THEN 'ESG'
                        END
                    ) AS TITLE
                    , A.TITLE AS CONTENT
                    , A.SYS_IMG_FILE AS SYS_IMG_FILE
                    , A.SYS_FILE AS SYS_FILE
                    , A.ORG_IMG_FILE AS ORG_IMG_FILE
                    , A.ORG_FILE AS ORG_FILE
                    , NULL AS TAG_INFO_LIST
                    , A.REG_DT AS REG_DT
                    , (CASE
                            WHEN REPORT_TYPE = 'AUDIT'    THEN IF('ko' = #{lang},
                                                                    '/customer/irRelation?reportType=AUDIT',
                                                                    '/en/customer/irRelation?reportType=AUDIT')
                            WHEN REPORT_TYPE = 'BUSINESS' THEN IF('ko' = #{lang},
                                                                    '/customer/irRelation?reportType=BUSINESS',
                                                                    '/en/customer/irRelation?reportType=BUSINESS')
                            WHEN REPORT_TYPE = 'ANNUAL'   THEN IF('ko' = #{lang},
                                                                    '/customer/irRelation?reportType=ANNUAL',
                                                                    '/en/customer/irRelation?reportType=ANNUAL')
                            WHEN REPORT_TYPE = 'ESG'      THEN IF('ko' = #{lang},
                                                                    '/customer/esgRelation?reportType=ESG',
                                                                    '/en/customer/esgRelation?reportType=ESG')
                            WHEN REPORT_TYPE = 'DISRULE'  THEN IF('ko' = #{lang},
                                                                    '/customer/esgRelation?reportType=DISRULE',
                                                                    '/en/customer/esgRelation?reportType=DISRULE')
                            WHEN REPORT_TYPE = 'ETC'  	  THEN IF('ko' = #{lang},
                                                                    '/customer/esgRelation?reportType=ETC',
                                                                    '/en/customer/esgRelation?reportType=ETC')
                        END
                    ) AS CLICK_URL
                FROM TB_REPORT A
                WHERE 1 = 1
                    AND A.REPORT_TYPE != 'TAX'
                   <include refid="whereSearch" />
                    <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(schKey)">
                     <choose>
						 <when test="schKey eq 'ESG' or schKey eq 'esg'">     
						 AND (A.REPORT_TYPE = 'ESG'
						 		OR A.REPORT_TYPE = 'DISRULE'
						 		OR A.REPORT_TYPE = 'ETC')
						 </when>
						 <when test="schKey eq 'IR' or schKey eq 'ir'">     
						 AND (A.REPORT_TYPE = 'BUSINESS'
						 		OR A.REPORT_TYPE = 'AUDIT'
						 		OR A.REPORT_TYPE = 'ANNUAL')
						 </when>
						<otherwise>
                        AND REPLACE(A.TITLE,' ','') LIKE CONCAT('%',#{schKey},'%')
						</otherwise>  
					</choose>
                    </if>
                ) `CUSTOMER`
        WHERE 1 = 1

        UNION ALL

        SELECT
            NEWS.*
        FROM (
                /* IR 공고 */
                SELECT
                    A.IDX AS IDX
                    , 'NEWS' AS TOP_TITLE1
                    , 'IR' AS TOP_TITLE2
                    , A.TITLE AS TITLE
                    , <![CDATA[ REGEXP_REPLACE(REGEXP_REPLACE(REGEXP_REPLACE(A.CONTENT, '&lt;','<'), '&gt;', '>'), '<[^>]+>','') ]]> AS CONTENT
                    , '' AS SYS_IMG_FILE
                    , A.SYS_FILE AS SYS_FILE
                    , '' AS ORG_IMG_FILE
                    , A.ORG_FILE AS ORG_FILE
                    , NULL AS TAG_INFO_LIST
                    , A.REG_DT AS REG_DT
                    , <![CDATA[IF('ko' = #{lang}, CONCAT('/news/ir/noticeDetail?rowNum=5.0&idx=',A.IDX) ,CONCAT('/en/news/ir/noticeDetail?idx=',A.IDX))]]> AS CLICK_URL
                FROM TB_IR_NOTICE A
                WHERE 1 = 1
                    <include refid="whereSearch" />
                    <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(schKey)">
                    	<choose>
						 <when test="schKey eq '공고' or schKey eq '공시' or schKey eq '공고공시'">     
						 AND 1=1
						 </when>
						<otherwise>
                        AND ( REPLACE(A.TITLE,' ','') LIKE CONCAT('%',#{schKey},'%') OR  REPLACE(A.CONTENT,' ','') LIKE CONCAT('%',#{schKey},'%') )
						</otherwise>  
					</choose>
                    </if>

                UNION ALL

                /* 대한 뉴스 */
                SELECT
                    A.IDX AS IDX
                    , 'NEWS' AS TOP_TITLE1
                    , 'PR' AS TOP_TITLE2
                    , A.TITLE AS TITLE
                    , <![CDATA[ REGEXP_REPLACE(REGEXP_REPLACE(REGEXP_REPLACE(A.CONTENT, '&lt;','<'), '&gt;', '>'), '<[^>]+>','') ]]> AS CONTENT
                    , A.SYS_THUM_IMG_FILE  AS SYS_IMG_FILE
                    , '' AS SYS_FILE
                    , A.ORG_THUM_IMG_FILE AS ORG_IMG_FILE
                    , '' AS ORG_FILE
                    ,(
                        SELECT
                        GROUP_CONCAT(C.TITLE,'_', C.IDX)
                        FROM TB_TAG C
                        INNER JOIN TB_TAG_MAPPING B ON C.IDX = B.TAG_IDX
                        WHERE A.IDX = B.MAPPING_IDX
                        AND B.MAPPING_TYPE = 'TAIHAN_NEWS'
                        ) TAG_INFO_LIST
                    , A.REG_DT AS REG_DT
                    , IF('ko' = #{lang}, CONCAT('/news/pr/taihanNewsDetail?idx=',A.IDX) ,CONCAT('/en/news/pr/taihanNewsDetail?idx=',A.IDX)) AS CLICK_URL
                FROM TB_TAIHAN_NEWS A
                WHERE 1 = 1
                    <include refid="whereSearch" />
                    <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(schKey)">
                    <choose>
						 <when test="schKey eq '대한뉴스' or schKey eq 'Taihannews' or schKey eq 'taihannews'">     
						 AND 1=1
						 </when>
						<otherwise>
                        AND ( REPLACE(A.TITLE,' ','') LIKE CONCAT('%',#{schKey},'%') OR  REPLACE(A.CONTENT,' ','') LIKE CONCAT('%',#{schKey},'%') )
						</otherwise>  
					</choose>
                    </if>

                UNION ALL

                /* 보도자료 */
                SELECT
                    A.IDX AS IDX
                    , 'NEWS' AS TOP_TITLE1
                    , 'PR' AS TOP_TITLE2
                    , A.TITLE AS TITLE
                    , <![CDATA[ REGEXP_REPLACE(REGEXP_REPLACE(REGEXP_REPLACE(A.CONTENT, '&lt;','<'), '&gt;', '>'), '<[^>]+>','') ]]> AS CONTENT
                    , A.SYS_THUM_IMG_FILE  AS SYS_IMG_FILE
                    , '' AS SYS_FILE
                    , A.ORG_THUM_IMG_FILE AS ORG_IMG_FILE
                    , '' AS ORG_FILE
                    ,(
                        SELECT
                            GROUP_CONCAT(C.TITLE,'_', C.IDX)
                        FROM TB_TAG C
                        INNER JOIN TB_TAG_MAPPING B ON C.IDX = B.TAG_IDX
                        WHERE A.IDX = B.MAPPING_IDX
                            AND B.MAPPING_TYPE = 'NEWS_RELEASE'
                    ) TAG_INFO_LIST
                    , A.REG_DT AS REG_DT
                    , IF('ko' = #{lang}, CONCAT('/news/pr/releaseDetail?idx=',A.IDX) ,CONCAT('/en/news/pr/releaseDetail?idx=',A.IDX)) AS CLICK_URL
                FROM TB_NEWS_RELEASE A
                WHERE 1 = 1
                    <include refid="whereSearch" />
                    <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(schKey)">
	                    <choose>
							 <when test="schKey eq '보도자료'">     
							 AND 1=1
							 </when>
							<otherwise>
                        	AND ( REPLACE(A.TITLE,' ','') LIKE CONCAT('%',#{schKey},'%') OR  REPLACE(A.CONTENT,' ','') LIKE CONCAT('%',#{schKey},'%') )
							</otherwise>  
						</choose>
                    </if>

                UNION ALL

                /* 웹진 */
                SELECT
                    A.IDX AS IDX
                    , 'NEWS' AS TOP_TITLE1
                    , 'PR' AS TOP_TITLE2
                    , A.TITLE AS TITLE
                    , CONCAT(A.MUNGU1, A.MUNGU2, A.MUNGU3) AS CONTENT /* TODO 문구 어떻게 노출 시킬지 확인 필요 */
                    , A.SYS_THUM_IMG_FILE  AS SYS_IMG_FILE
                    , '' AS SYS_FILE
                    , A.ORG_THUM_IMG_FILE AS ORG_IMG_FILE
                    , '' AS ORG_FILE
                    , NULL AS TAG_INFO_LIST
                    , A.REG_DT AS REG_DT
                    , A.URL AS CLICK_URL
                FROM TB_WEBZINE A
                WHERE 1 = 1
                    <include refid="whereSearch" />
                    <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(schKey)">
                    <choose>
						 <when test="schKey eq '웹진'">     
						 AND 1=1
						 </when>
						<otherwise>
                        AND REPLACE(A.TITLE,' ','') LIKE CONCAT('%',#{schKey},'%')
						</otherwise>  
					</choose>
                    </if>
        ) `NEWS`

        UNION ALL

        /* 하드 코딩 페이지 데이터 테이블 */
        SELECT
            OTHERS.*
        FROM (
                SELECT
                A.IDX AS IDX
                , IFNULL(TOP_TITLE1,'OTHERS') AS TOP_TITLE1
                , TOP_TITLE2 AS TOP_TITLE2
                , A.SCH_TITLE AS TITLE
                , A.SCH_CONTENT AS CONTENT
                , NULL AS SYS_IMG_FILE
                , NULL AS SYS_FILE
                , NULL AS ORG_IMG_FILE
                , NULL AS ORG_FILE
                , NULL AS TAG_INFO_LIST
                , A.REG_DM  AS REG_DT
                , A.URI AS CLICK_URL
                FROM TB_SEO A
                WHERE 1 =1
                    AND A.SCH_YN = 'Y'
                    AND A.DSP_YN = 'Y'
                    AND A.DEL_YN = 'N'
                    AND A.LANG = #{lang}
                    <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(schKey)">
                        AND ( REPLACE(A.SCH_TITLE,' ','') LIKE CONCAT('%',#{schKey},'%') OR  REPLACE(A.SCH_CONTENT,' ','') LIKE CONCAT('%',#{schKey},'%') OR REPLACE(A.TITLE,' ','') LIKE CONCAT('%',#{schKey},'%'))
                    </if>
            ) `OTHERS`
    WHERE 1 = 1
    </select>
</mapper>